html {
    background-color: #f5f5f5;
    font-size: 10px;
    width: fit-content;
    overflow: hidden;
}
.main {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 11vh;
}
.main__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 8vh;
    margin-left: 8vw;
    margin-right: 12vw;
}
@mixin font($weight, $size) {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    color: #333333;
}
.main__headline_weak {
    @include font(300, 6.4rem);
    color: #bdbdbd;
}  
.main__headline {
    @include font(700, 6.4rem);
}
.main_image_certificate1 {
    border: 1px solid black;
    width: 5%;
}
.main_image_certificate2 {
    border: 1px solid black;
    width: 5%;
}