html {
  background-color: #f5f5f5;
  font-size: 10px;
  width: fit-content;
}

.main {
  margin-top: 10vh;
  margin-bottom: 20vh;
  margin-inline: 7vw;
}

.main__text-wrapper {
  padding-bottom: 5vh;
  border-bottom: 1px solid #e0e0e0;
}

@mixin font($weight, $size) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  color: #333333;
}

.main__headline_weak {
  @include font(300, 6.4rem);
  color: #bdbdbd;
}

.main__headline {
  @include font(700, 6.4rem);
}

.main__image-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.main__picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
