@import "header.css";
@import "footer.css";

html {
  background-color: #fbfbfb;
  font-size: 10px;
  width: fit-content;
}

.main {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 20vh;
  overflow: hidden;
}

.main__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 8vh;
  margin-left: 7vw;
  margin-right: 15vw;
}

@mixin font($weight, $size) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  color: #333333;
}

.main__headline_weak {
  @include font(300, 6.4rem);
  color: #bdbdbd;
}

.main__headline {
  @include font(700, 6.4rem);
}

.main__company-name {
  @include font(700, 1.8rem);
}

.main__company-address {
  @include font(300, 1.6rem);
}

.main__coordinates {
  @include font(700, 1.8rem);
}

.main__email {
  @include font(300, 16px);
}

.main__email-link {
  text-decoration: none;
  color: #333333;
}

.main__button {
  @include font(400, 1.2rem);
  color: #ffffff;
  letter-spacing: 0.2rem;
  background: #333333;
  border: none;
  padding: 2.5rem 6rem;
}

.main__button:hover {
  cursor: pointer;
  padding: 2.5rem 8rem;
  transition: 0.3s;
}

.main__image {
  border: 1px solid black;
  max-width: 100%;
}
