html {
  font-size: 10px;
}

.footer {
  background: #2c2c2c;
}

.footer__main {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 25% 25%;
  padding: 7vh 7vw;
}

.footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(200, 200, 200, 0.5);
  text-align: center;
  padding: 4vh 0;
  border-top: 1px solid rgba(200, 200, 200, 0.2);
}

@mixin font($weight, $size) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  color: #ffffff;
  letter-spacing: 0.03rem;
}

.footer__menu-title {
  @include font(700, 1.6rem);
  margin-bottom: 4vh;
}

.footer__menu-list,
.footer__menu-contacts-info-text {
  @include font(500, 1.4rem);
}

.footer__menu-list {
  list-style-type: none;
  padding: 0;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__menu-contacts-info-wrapper {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__menu-contacts-info {
  display: flex;
  gap: 1vw;
}

.footer__menu-social-media-links {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__link:hover {
  text-decoration: underline;
}
