html {
  font-size: 10px;
}

.header {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-inline: 7vw;
}

@mixin font($weight, $size) {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
  color: #333333;
  letter-spacing: 0.2rem;
}

.header__menu {
  display: flex;
  gap: 2vw;
  padding: 0;
}

.header__menu-item {
  @include font(400, 1.2rem);
  list-style-type: none;
  padding: 0.4rem 1rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.header__menu-item:hover {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.header__menu-item-link {
  text-decoration: none;
  color: #333333;
}
